# GITIGNORE CONFIGURATION
# ECOM SECURITY SIMULATION PIPELINE

# PYTHON CACHE & BUILD FILES
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# TEST & TOOL CACHE
.pytest_cache/
.mypy_cache/
.cache/

# VIRTUAL ENVIRONMENTS
venv/
.venv/
env/

#ENVIRONMENT VARIABLES
.env
.env.*

# JUPYTER NOTEBOOK CHECKPOINTS
.ipynb_checkpoints/

# OPERATING SYSTEM FILES
.DS_Store
Thumbs.db

# GENERATED REPORT FILES
*.xlsx
*.log

#ALLOW DATASET RULES
!datasets/*.txt
!*.txt